/* Logo */

.logo-Web {
  color: var(--accent-color);
}

.logo-Studio {
  color: var(--hero-title);
}

.logo-Web,
.logo-Studio {
  font-family: Raleway;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.2;
  letter-spacing: 0.03em;
}

/* Site Nav */

.site-nav .link {
  color: var(--title-text-color);
}

.site-nav .portfolio {
  color: var(--accent-color);
}

.site-nav .link:hover,
.site-nav .link:focus {
  color: var(--accent-color);
}

/* .list .mail {
  color: var(--accent-color);
} */

.list .mail:hover,
.list .mail:focus,
.list .tel:hover,
.list .tel:focus {
  color: var(--accent-color);
}

.list .link,
.list .mail,
.list .tel {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
}

/* Work Samples Filter */
.radio-button {
  color: var(--title-text-color);
}

.radio-button.current {
  color: var(--primary-white-color);
  background-color: var(--accent-color);
}

/* Footer */

.footer {
  color: var(--primary-white-color);
  background-color: var(--hero-footer-background);
}

.footer .logo-Studio {
  color: var(--primary-white-color);
}

.footer .mail,
.footer .tel {
  color: rgba(255, 255, 255, 0.6);
}

.footer .address,
.footer .mail,
.footer .tel {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
}
