body {
  background-color: #ffffff;
  color: #757575;
}

.logo-part1 {
  color: #2196f3;
}

.logo-part2 {
  color: #000000;
}

/* цвет основного текста #212121 */

/* дополн.цвет текста #757575 */

/* цвет акцент #2196F3  */

/* при наведении #FFFFFF */

/* nav background: #ffffff;

advant background: #e5e5e5;

team background: #f5f4fa;

footer background: #2F303A */
